<nav class="navbar navbar-light sticky-top" style="background-color: #b7b7b8;">
  <!-- Navbar content -->
  <span class="navbar-text"> Beta Scraper</span>
  <button class="btn btn-sm btn-danger" type="button" id="scrape">Scrape New Articles</button>
  <button class="btn btn-sm btn-danger" type="button" id="clear">Clear Articles</button>
  <a href="/saved">Saved articles</a>
</nav>


<div class="jumbotron jumbotron-fluid d-flex align-items-center shadow-lg">
  <div class="container text-center">

    <h1 class="display-4"><strong>Finance Geek</strong> </h1>
    <p class="lead">Fiance News on your tips</p>

  </div>
</div>

<div class="container-fluid mt-2" id="article">



  {{#each news}}

  <div class="card mb-3 mt-3 shadow-lg">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="{{this.image}}" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><a href="{{this.postUrl}}" target="_blank">{{this.title}}</a> </h5>
          <p class="card-text">{{this.subnews}}</p>
          <a href="#" class="btn btn-primary save" data-val="{{this._id}}">Save Article</a>
        </div>
      </div>
    </div>
  </div>

  {{/each}}



</div>